<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/default.min.css">
  <script src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  
  <%= @content %>
  
</body>
</html>
