<h1>SO MANY APPS Blog</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render inline: @content %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
